.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: 0 auto;
  svg rect {
    fill: rgba(255, 255, 255, 0);
    stroke: #050505;
    stroke-dasharray: 80;
    stroke-dashoffset: 500;
    animation: dash 1.5s steps(16, end) infinite;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
