.loader {
  display: flex;
  justify-content: center;
  align-items: center;

  svg rect {
    fill: rgba(255, 255, 255, 0);
    stroke: #888;
    stroke-dasharray: 80;
    stroke-dashoffset: 500;
    animation: dash 1.5s steps(16, end) infinite;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
