* {
  box-sizing: inherit;
  text-decoration: none !important;
  &:before, &:after {
    box-sizing: inherit;
    text-decoration: none !important;
  }
}

html {
  box-sizing: border-box;
  background-color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', 'Helvetica', sans-serif;
  background-color: white;
  min-height: 100vh;
}


main {
  padding: 4rem;
  width: 100%;
}

button {
  outline: none;
  background-color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    margin: 0;
    padding: 0;
    color: black;
    opacity: 0.4;
    transition: opacity 350ms;
    &:hover {
      opacity: 1;
    }
  }
}

a.toArena {
  width: 30px;
  height: 30px;
  img {
    width: 100%;
    height: auto;
  }
}



#Sortainer {
  display: flex;
  justify-content: space-between;
  .left {
    flex: 1;
  }
  .right{
  }
  input {
    border: none;
    width: 100%;
    padding: 1rem 1em;
    font-size: $font-size-h6;
    outline: none;
    border-bottom: 1px solid $colors-gray-border;
    &:focus {
      border-bottom: 1px solid $colors-gray-text;
    }
  }
  button {
    border: none;
    padding: 1rem 1em;
    font-size: $font-size-h6;
    &:hover {
      cursor: pointer;
      color: $colors-gray-hover;
    }
    &:focus {
      color: $colors-gray-hover;
    }

  }
  .unselected {
    border-bottom: 1px solid $colors-gray-border;
    color: $colors-gray-light;
    img {
      opacity: 0;
    }
  }
  .selected {
    border-bottom: 1px solid $colors-gray-text;
    color: $colors-gray-text;
    img {
      opacity: 1;
    }
  }

  img.asc {
    transform: rotateZ(180deg);
  }

  img.desc{
    transform: rotateZ(0deg);
  }
}

nav {
  display: flex;
  margin-bottom: 4em;
  border: 1px solid $colors-gray-border;
  button {
    border: none;
    height: 3rem;
    width: 3rem;
    color: #585858;
    // border-right: 0.075em solid #d5d5d5;
    border-radius: 0.125em;


    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-color 300ms;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    text-decoration: none !important;
    img {
      width: 100%;
      height: auto;
    }
    &:hover {
      border-color: black;
      cursor: pointer;
    }
  }
}

#playPause {
  border-right: 1px solid $colors-gray-border;
}

#nowPlaying {
  height: 3rem;
  flex: 1;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.125em;
  a {
    color: black;
    opacity: 0.5;
    margin-left: 0.25rem;
    transition: opacity 400ms;
    &:hover {
      opacity: 1;
    }
  }
  .left, .right {
    display: flex;
    align-items: center;
  }
}

#playPause{
  display: flex;
}



.track-time {
  width: 130px;
}

.tile-wrap {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 1rem;
  border-right: 1px solid white;
}

.tile-wrap-full {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 1rem;
}

.tile-wrap-square {
  height: 3rem;
  width: 3rem;
  border-right: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 1.3em;
  margin-right: 0.4em;
  margin-bottom: -0.12em;
}

.list-item {
  padding: 1rem 1em;
  display: block;
  width: 100%;
  text-align: left;
  border: none;
  border-top: 1px solid #f0f0f0;
  color: black;
  font-size: 1rem;
  transition: background-color 300ms;
  &:first-of-type {
    border-top: none;
  }
  &.rejected {
    background-color: #fafafa;
    color: grey;
    pointer-events: none;
  }
  &:hover {
    cursor: pointer;
    background-color: #f0f0f0;
  }
  p {
    margin: 0;
    line-height: 1.25rem;
  }
}

.bg-selected {
  background-color: #f0f0f0;
}

/* button press */

a {
  &:hover, &:active, &:focus {
    outline: medium none !important;
  }
}

.dot {
  width: 10px;
  height: 10px;
  display: block;
  content: '';
  background-color: white;
  transition: background-color 300ms;
  border-radius: 999px;
}

.playerIdle {
  background-color: #c6c6c6;
}

.playerPlaying {
  background-color: #17ac10;
}

.playerBuffering {
  background-color: #f2ba3d;
}

.playerErrored {
  background-color: #e24d4d;
}
