body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  background-color: white;
}

html {
  box-sizing: border-box;
  background-color: white;
}

.invert {
  filter: invert(100%) hue-rotate(180deg);
  -webkit-filter: invert(100%) hue-rotate(180deg);
}

*, *:before, *:after {
  box-sizing: inherit;
  text-decoration: none !important;
}

nav {
  display: flex;
  margin-bottom: 4em;
}

nav button {
  height: 3rem;
  width: 3rem;
  margin: 5px;
  color: #585858;
  border: 0.075em solid #d5d5d5;
  border-radius: 0.125em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-decoration: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 300ms;
}

nav button:hover {
  border-color: black;
}

button {
  outline: none;
  background-color: white;

}

#nowPlaying {
  margin: 5px;
  height: 3rem;
  flex: 1;
  background-color: #eee;
  border: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0 1rem; */
  border-radius: 0.125em;
}

#nowPlaying a {
  /* text-decoration: underline !important; */
  color: black;
  opacity: 0.5;
  margin-left: 0.25rem;
  transition: opacity 400ms;
}

#nowPlaying a:hover {
  opacity: 1;
}

#nowPlaying-left{
  display: flex;
  align-items: center;
}

#nowPlaying-right{
  display: flex;
  align-items: center;
}

.tile-wrap {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 1rem;
  border-right: 1px solid white;
}

.tile-wrap-full {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 1rem;
  overflow-x: hidden;
}

#nowPlaying-right .tile-wrap {
  border-left: 1px solid white;
  border-right: 0px solid white;
}


.tile-wrap-square {
  height: 3rem;
  width: 3rem;
  border-right: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 1.3em;
  margin-right: 0.4em;
  margin-bottom: -0.12em;
}

.list-item {
  padding: 1rem 0.5em;
  display: block;
  width: 100%;
  text-align: left;
  border: none;
  border-top: 1px solid black;
  color: black;
}

.list-item:hover {
  cursor: pointer;
}

/* button press */
a:hover, a:active, a:focus {
  outline: medium none !important;
}

/* pagination */
.pagination {
  margin-top: 40px;
  text-align: center;
}
.pagination li.active {
  background-color: black !important;
  border-top: 1px solid black;
  border-bottom: 1px solid black;

}

.pagination li:hover a {
  color: grey;
}


/* top li border */
.bb {
  border-top: solid 1px black;
}
/* .w-100 > .bb ~ .bb {
  border-top: none;
} */

.dot{
  width: 10px;
  height: 10px;
  display: block;
  content: '';
  background-color: white;
  transition: background-color 300ms;
  border-radius: 999px;
  /* margin-right: 1rem; */
}

.playerIdle {
  background-color: #c6c6c6;
}

.playerPlaying {
  background-color: #17ac10;
}

.playerBuffering {
  background-color: #f2ba3d;
}

.playerErrored {
  background-color: #e24d4d;
}

.vr{
  width: 1px;
  height: 60px;
  background-color: white;
  border: none;
  margin: 0rem 1rem;
}
