body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.logo {
  width: 1.3em;
  margin-right: 0.4em;
  margin-bottom: -0.12em;
}

.list-item {
  padding: 0.5rem 0.5em;
  display: block;
  width: 100%;
  text-align: left;
  border: none;
  border-top: 1px solid black;
}

.innerLink{
  width: 100%;
}

/* button press */
a:hover, a:active, a:focus {
  outline: medium none !important;
}

/* pagination */
.pagination {
  margin-top: 40px;
  text-align: center;
}
.pagination li.active {
  background-color: black;
}

.pagination li:hover a {
  color: grey;
}


/* top li border */
.bb {
  border-top: solid 1px black;
}
.w-100 > .bb ~ .bb {
  border-top: none;
}
