body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  background-color: white;
  min-height: 100vh;
}

html {
  box-sizing: border-box;
  filter: invert(100%) hue-rotate(180deg);
  -webkit-filter: invert(100%) hue-rotate(180deg);
  background-color: white;
}

*, *:before, *:after {
  box-sizing: inherit;
}

nav {
  display: flex;
  margin-bottom: 2em;
}

button {
  /* all: initial;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block; */
  padding: 1.0625em 1.25em;
  text-align: center;
  font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  background-color: transparent;
  color: #585858;
  border: 0.075em solid #d5d5d5;
  border-radius: 0.125em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-decoration: none !important;
  margin-right: 1em;
}

#nowPlaying {
  /* all: initial;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block; */
  padding: 1.0625em 1.25em;
  text-align: center;
  font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  color: #585858;
  border-radius: 0.125em;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-decoration: none !important;
  margin-right: 1em;
  width: 100%;
  background-color: #eee;
  padding-bottom: 2em;
}

.logo {
  width: 1.3em;
  margin-right: 0.4em;
  margin-bottom: -0.12em;
}

.list-item {
  padding: 0.5rem 0.5em;
  display: block;
  width: 100%;
  text-align: left;
  border: none;
  border-top: 1px solid black;
}

/* button press */
a:hover, a:active, a:focus {
  outline: medium none !important;
}

/* pagination */
.pagination {
  margin-top: 40px;
  text-align: center;
}
.pagination li.active {
  /* background-color: black; */
}

.pagination li:hover a {
  color: grey;
}


/* top li border */
.bb {
  border-top: solid 1px black;
}
.w-100 > .bb ~ .bb {
  border-top: none;
}
